*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: lightgrey;
}

nav {
  padding: 10px 0 15px 15px;
  position:  fixed;
  width: 420px;
  background-color: black;
}

.restaurant-list {
  padding-top: 49px;
}

.restaurant-list h3 {
  font-weight: 400;
  margin-top: 2px;
}

.arrow {
display: inline-block;
font-size: 10px;
right: 80%;
vertical-align: middle;
margin-top: -25px;
}

.content {
  display: inline-block;
  width: 90%;
}

.restaurant-list h1 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.3em;
  margin-top: -5px
}

.location {
display:inline-block;
padding: 4%;
width: 100%;
border-bottom: 1px black solid;
}

div.location:hover{
  background-color: darkgrey;
}
